node_modules/
.env
.env.local

dist/
build/

coverage/

*.pem

.DS_Store

terraform.tfstate
terraform.tfstate.backup
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!terraform.tfvars.example

.vscode/
*.log
